<!DOCTYPE html>
<html lang="zh-tw" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<link rel="stylesheet" th:href="@{/plugins/bootstrap/css/bootstrap.css}"></link>
<link rel="stylesheet" th:href="@{/plugins/jquery-ui/jquery-ui.css}"></link>
<script th:src="@{/plugins/jquery-3.3.1.min.js}"></script>
<script th:src="@{/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/plugins/jquery-ui/jquery-ui.js}"></script>
<script> 
function del() { 
 var msg = "是否要退回該筆活動?"; 
 if (confirm(msg)==true){ 
  return true; 
 }else{ 
  return false; 
 } 
} 
</script> 
<script> 
function check() { 
 var msg = "審核過後，按下確認使審核通過"; 
 if (confirm(msg)==true){ 
  return true; 
 }else{ 
  return false; 
 } 
} 
</script> 
<title>管理專區</title>
</head>
<body>
	<div th:replace="fragments/header :: header"></div>
	<div class="container">
		<div>

			<h2>審核活動</h2>

			<table class="table table-hover">
				<thead>
					<tr>
						<th></th>
						<th>活動名稱</th>
						<th>活動開始日期</th>
						<th>活動結束日期</th>
						<th>活動地點</th>
						<th>活動說明</th>
						<th>活動發起人</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each=" bean: ${beanList}">
						<th scope="row" th:text="${bean.activityId}"></th>
						<td><a
							th:href="@{${'/activity/'+bean.activityId+'/detail'}}"><label
								th:text="${bean.activityName}"></label></a></td>
						<td th:text="${bean.activityDate}"></td>
						<td th:text="${bean.endTime}"></td>
						<td th:text="${bean.activityPlace}"></td>
						<td th:text="${bean.actiivityDescription}"></td>
						<td th:text="${bean.createUser}"></td>
						<td>
							<div>
								<a th:href="@{${'/admin/activity/'+bean.activityId+'/examineFail'}}" onclick="javascript:return del()" class="btn btn-info">審核未通過</a>
								<a th:href="@{${'/admin/activity/'+bean.activityId+'/examinePass'}}" onclick="javascript:return check()" class="btn btn-info">審核通過</a>
							</div>
						</td>
					</tr>
				</tbody>
			</table>

			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<a href="/admin/all" class="btn btn-info">回上層</a>
				</div>
			</div>
		</div>
		<div th:replace="fragments/footer :: footer"></div>
	</div>

</body>
</html>

