<!DOCTYPE html>
<html lang="zh-tw" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <link rel="stylesheet" th:href="@{/plugins/bootstrap/css/bootstrap.css}"></link>
        <link rel="stylesheet" th:href="@{/plugins/jquery-ui/jquery-ui.css}"></link>
        <script th:src="@{/plugins/jquery-3.3.1.min.js}"></script>
        <script th:src="@{/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
		<script th:src="@{/plugins/jquery-ui/jquery-ui.js}"></script>

        <title>編輯會員資訊</title>
    </head>
    <body>
        <div th:replace="fragments/header :: header"></div>
		<div class="container">
			<div class="hero-unit">

<h2>會員資料</h2>

<form class="form-horizontal"   th:action="@{/member/doEdit}" th:object="${user}"  method="post">
        <!-- input type="hidden" name="userId" th:value="*{userId}" /-->
        <fieldset class="box1-fieldset">
        <div class="form-group">
            <label for="userId" class="col-sm-2 control-label">會員帳號</label>
            <div class="col-sm-10">
              <input type="hidden" name="userId" id="userId"  th:value="*{userId}" />
             <label th:text="*{userId}"></label>
            </div>
        </div>
        <div class="form-group">
            <label for="userName" class="col-sm-2 control-label" >修改暱稱</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" maxlength="20" name="userName" id="userName"  th:value="*{userName}" />
            </div>
        </div>
        <div class="form-group">
            <label for="userSex" class="col-sm-2 control-label">性別</label>
            <div class="col-sm-10">
               <input type="radio" name="userSex" value="M" th:field="*{userSex}"/> 男
               <input type="radio" name="userSex" value="F" th:field="*{userSex}"/> 女
            </div>
        </div>
        <div class="form-group">
            <label for="userBirth" class="col-sm-2 control-label">生日</label>
            <div class="col-sm-10">
                <input type="date" class="form-control" name="userBirth"  id="userBirth" th:value="*{userBirth}" />
                
            </div>
        </div>
        <div class="form-group">
            <label for="userIdentity" class="col-sm-2 control-label" >身分證字號</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" maxlength="10" pattern="([A-Z]|[a-z])\d{9}" name="userIdentity" id="userIdentity"  th:value="*{userIdentity}" placeholder="開頭字母需大寫"/>
            </div>
        </div>
        <div class="form-group">
            <label for="mobile" class="col-sm-2 control-label">連絡電話</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" pattern="[0-9]{4}[0-9]{6}" title="手機號碼格式錯誤" maxlength="16" name="mobile"  id="mobile" th:value="*{mobile}" placeholder="ex:0911-111111"/>
            </div>
        </div>
        <div class="form-group">
            <label for="userAddress" class="col-sm-2 control-label" >居住地址</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="userAddress" id="userAddress"  th:value="*{userAddress}" placeholder=" "/>
            </div>
        </div>
        <div class="form-group">
            <label for="email" class="col-sm-2 control-label">電子郵件信箱</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" name="email"  id="email" th:value="*{email}" />
            </div>
        </div>
        <div class="form-group">
            <label for="userPwd" class="col-sm-2 control-label">更改密碼</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" maxlength="12" name="userPwd"  id="userPwd" th:value="*{userPwd}" />
            </div>
        </div>
        <div class="form-group">
            <label for="userPhoto" class="col-sm-2 control-label" >新增個人頭貼</label>
            <div class="col-sm-10">
			    
						<input type="file" id="uploadImage" name="imageFile"
							class="form-control-file" accept=".png, .jpg, .jpeg">
			              		<img id="img" src="">
			 
            </div>
        </div>
        
        </fieldset>
        
        <script th:inline="javascript">

			$("#uploadImage").change(function () {
			readImage(this);
			});
					
			function readImage(input) {
				if (input.files && input.files[0]) {
				var FR = new FileReader();
				FR.onload = function (e) {
					//e.target.result = base64 format picture
					$('#img').attr("src", e.target.result);
				};
				FR.readAsDataURL(input.files[0]);
				}
			}
					    
		</script>
                        
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" value="確認修改" class="btn btn-info" />
                &nbsp; &nbsp; &nbsp;
                <a href="/index" class="btn btn-info">回首頁</a>
            </div>

        </div>
        
        
    </form>
	      	</div>
	     	<div th:replace="fragments/footer :: footer"></div>
	     </div>
	     
    </body>
</html>

