<!DOCTYPE html>
<html lang="zh-tw" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<link rel="stylesheet" th:href="@{/plugins/bootstrap/css/bootstrap.css}"></link>
<link rel="stylesheet" th:href="@{/plugins/jquery-ui/jquery-ui.css}"></link>

<script th:src="@{/plugins/jquery-3.3.1.min.js}"></script>
<script th:src="@{/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/plugins/jquery-ui/jquery-ui.js}"></script>
<script>
	$(function() {

		$("#paymentType").change(function() {
			if ($("#paymentType").val() == "credit") {
				$("#payblock").show();
			} else {
				$("#payblock").hide();
			}
		});
	});
</script>
<script> 
function check() { 
 var msg = "確定內容無誤後，按下確認送出"; 
 if (confirm(msg)==true){ 
  return true; 
 }else{ 
  return false; 
 } 
} 
</script> 

<title>付款</title>
</head>
<body>
	<div th:replace="fragments/header :: header"></div>

	<div class="container">
			<div class="progress">
  <div class="progress-bar progress-bar-striped bg-secondary" role="progressbar" style="width: 33%;" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100">報名要參加的活動</div>
  <div class="progress-bar progress-bar-striped bg-secondary" role="progressbar" style="width: 34%;" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100">購買活動票券</div>
  <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 33%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">選擇付款方式</div>
</div>
		<div class="hero-unit">
			<h1>付款資訊</h1>
				<div class="form-group">
					<label for="totalPrice" class="col-sm-2 control-label">訂單總金額</label>
					<div class="col-sm-10">
						<label th:text="${totalPrice}"></label>
					</div>
				</div>		
			
			<form class="form-horizontal" th:action="@{/order/dopay}" method="post">
				<input type="hidden" name="orderId" th:value="*{orderId}" />
				<div class="form-group">
					<label for="ticketType" class="col-sm-2 control-label">付款方式</label>
					<div class="col-sm-10">
						<select id="paymentType" name="paymentType" required>
							<option value="">請選擇付款方式</option>
							<option value="credit">信用卡</option>
						</select>
					</div>
				</div>
				<div id="payblock" style="display: none">

					<div class="form-group">
						<label for="cardNumber" class="col-sm-2 control-label">信用卡卡號</label>
						<div class="col-sm-10">
						 <div class="form-row">
    <div class="col-md-2 mb-2">
      <label for="validationTooltip03"></label>
      <input type="text" class="form-control" id="validationTooltip03" pattern="^{4,}$" maxlength="4" required>
      <div class="invalid-tooltip"></div>
    </div>
        
    <div class="col-md-2 mb-2">
      <label for="validationTooltip04"></label>
      <input type="text" class="form-control" id="validationTooltip04" pattern="^{4,}$" maxlength="4" required>
      <div class="invalid-tooltip"></div>
    </div>
    <div class="col-md-2 mb-2">
      <label for="validationTooltip05"></label>
      <input type="text" class="form-control" id="validationTooltip05" pattern="^{4,}$" maxlength="4" required>
      <div class="invalid-tooltip"></div>
	</div>
    <div class="col-md-2 mb-2">
      <label for="validationTooltip05"></label>
      <input type="text" class="form-control" id="validationTooltip05" pattern="^{4,}$" maxlength="4" required>
      <div class="invalid-tooltip"></div>
    </div>
  </div>

						</div>
					</div>
					<div class="form-group">
						<label for="cardExpire" class="col-sm-2 control-label">信用卡效期</label>
						<div class="col-md-2 mb-2">
							<input type="text" class="form-control" name="cardExpire"
								id="cardExpire" pattern="^{4,}$" maxlength="4" required />
						</div>
					</div>
					<div class="form-group">
						<label for="cvc" class="col-sm-2 control-label">安全碼</label>
						<div class="col-md-1 mb-1">
							<input type="text" class="form-control" name="cvc" id="cvc"
								pattern="^{3,}$" maxlength="3" required />
						</div>
					</div>
				</div>
				<button type="submit" class="btn btn-primary" onclick="javascript:return check()">確認</button>
			</form>
		</div>
		<div th:replace="fragments/footer :: footer"></div>
	</div>

</body>
</html>

