<!DOCTYPE html>
<html lang="zh-tw" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <link rel="stylesheet" th:href="@{/plugins/bootstrap/css/bootstrap.css}"></link>
        <script th:src="@{/plugins/jquery-3.3.1.min.js}"></script>
        <script th:src="@{/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
        <title>歡迎登入</title>
    </head>
    <body>
        <div th:replace="fragments/header :: header"></div>
		<div class="container">
			<div class="hero-unit">
		    	<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
		        <form th:action="@{/logout}" method="post">
		            <input type="submit" value="登出"/>
		        </form>
	      	</div>
	     	<div th:replace="fragments/footer :: footer"></div>
	     </div>
	     
    </body>
</html>

