<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" th:href="@{/plugins/bootstrap/css/bootstrap.css}"></link>
</head>
<body>
	<div th:fragment="footer">
		<footer class="pt-4 my-md-5 pt-md-5 border-top">
			<div class="row">
				<div class="col-12 col-md">
					<img th:src="@{/images/black.png}" height="72px"> <small
						class="d-block mb-3 text-muted">FUNactivity &copy; 2018
						All Rights Reserved.</small>
				</div>
				<div class="col-6 col-md">
					<h5>關於活動</h5>
					<ul class="list-unstyled text-small">
						<li><a class="text-muted" href="#">如何建立活動</a></li>
						<li><a class="text-muted" href="#">如何參加活動</a></li>
						<li><a class="text-muted" href="#">付款方式</a></li>
						<li><a class="text-muted" href="#">活動社群</a></li>
						<li><a class="text-muted" href="#">常見問題</a></li>
						<li><a class="text-muted" href="#">注意事項</a></li>

					</ul>
				</div>
				<div class="col-6 col-md">
					<h5>會員服務</h5>
					<ul class="list-unstyled text-small">
					<li><a class="text-muted" href="#">加入會員</a></li>	
					<li><a class="text-muted" href="#">新手上路</a></li>	
					<li><a class="text-muted" href="#">會員分級</a></li>	
					<li><a class="text-muted" href="#">訂閱電子報</a></li>	
					
						

					</ul>
				</div>
				<div class="col-6 col-md">
					<h5>關於我們</h5>
					<ul class="list-unstyled text-small">
						<li><a class="text-muted" href="#">加入我們</a></li>
						<li><a class="text-muted" href="#">服務條款</a></li>
						<li><a class="text-muted" href="#">聯絡我們</a></li>
						<li><a class="text-muted" href="#">Email:funactivityfun@gmail.com</a></li>


					</ul>
				</div>
			</div>
		</footer>
	</div>
</body>
</html>