<!DOCTYPE html>
<html lang="zh-tw" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <link rel="stylesheet" th:href="@{/plugins/bootstrap/css/bootstrap.css}"></link>
        <link rel="stylesheet" th:href="@{/plugins/jquery-ui/jquery-ui.css}"></link>
        <script th:src="@{/plugins/jquery-3.3.1.min.js}"></script>
        <script th:src="@{/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
		<script th:src="@{/plugins/jquery-ui/jquery-ui.js}"></script>
		<script> 
			function del() { 
			 var msg = "確定要取消嗎?"; 
			 if (confirm(msg)==true){ 
			  return true; 
			 }else{ 
			  return false; 
			 } 
			} 
		</script> 
		
		<script> 
			function send() { 
			 var msg = "提交審核後就無法做修改，確定要提交嗎?"; 
			 if (confirm(msg)==true){ 
			  return true; 
			 }else{ 
			  return false; 
			 } 
			} 
		</script> 
        <title>活動專區</title>
    </head>
    <body>
        <div th:replace="fragments/header :: header"></div>
		<div class="container">
			<div>

		<h2>我舉辦的活動</h2>
		
		<ul class="nav nav-tabs" id="myTab" role="tablist">
		  <li class="nav-item">
		    <a class="nav-link active" id="check-tab" data-toggle="tab" href="#check" role="tab" aria-controls="check" aria-selected="true">未審核</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" id="waitcheck-tab" data-toggle="tab" href="#waitcheck" role="tab" aria-controls="waitcheck" aria-selected="false">待審核</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" id="pass-tab" data-toggle="tab" href="#pass" role="tab" aria-controls="pass" aria-selected="false">上架中</a>
		  </li>
		   <li class="nav-item">
		    <a class="nav-link" id="cancel-tab" data-toggle="tab" href="#cancel" role="tab" aria-controls="cancel" aria-selected="false">已下架</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link " id="fault-tab" data-toggle="tab" href="#fault" role="tab" aria-controls="fault" aria-selected="true">審核未通過</a>
		  </li>
		</ul>
		
		<div class="tab-content" id="myTabContent">
		
		  <div class="tab-pane fade show active" id="check" role="tabpanel" aria-labelledby="check-tab">
		  <table class="table table-hover">
		     <thead>
		        <tr>
		            <th></th>
					<th>活動名稱</th>
					<th>活動開始日期</th>
					<th>活動結束日期</th>
					<th>活動地點</th>
					<th>活動說明</th>
					<th></th>
		            <th></th>
		        </tr>
		        </thead>
		        <tbody>
		        <tr  th:each=" bean: ${checkList}" th:if="${#authentication.name == bean.createUser}">
		            <th scope="row" th:text="${bean.activityId}"></th>
		            <td ><a th:href="@{${'/activity/'+bean.activityId+'/detail'}}"><label  th:text="${bean.activityName}"></label></a></td>
		            <td th:text="${bean.activityDate}"></td>
		            <td th:text="${bean.endTime}"></td>
		            <td th:text="${bean.activityPlace}"></td>
					<td th:text="${bean.actiivityDescription}"></td>
					<td>
					<div >
					<a th:href="@{${'/activity/'+bean.activityId+'/edit'}}" class="btn btn-info" >編輯</a>
					<a th:href="@{${'/activity/'+bean.activityId+'/cancel'}}" onclick="javascript:return del()" class="btn btn-info" >取消活動</a>
					<a th:href="@{${'/activity/'+bean.activityId+'/sendExamine'}}" onclick="javascript:return send()" class="btn btn-info" >提交審核</a>
					</div>
					</td>
		        </tr>
		        </tbody>
		    </table>
		  </div>
		  
		  
		  <div class="tab-pane fade" id="waitcheck" role="tabpanel" aria-labelledby="waitcheck-tab">
		  <table class="table table-hover">
		     <thead>
		        <tr>
		            <th></th>
					<th>活動名稱</th>
					<th>活動開始日期</th>
					<th>活動結束日期</th>
					<th>活動地點</th>
					<th>活動說明</th>
					<th></th>
		            <th></th>
		        </tr>
		        </thead>
		        <tbody>
		        <tr  th:each=" bean: ${waitcheckList}" th:if="${#authentication.name == bean.createUser}">
		            <th scope="row" th:text="${bean.activityId}"></th>
		            <td ><a th:href="@{${'/activity/'+bean.activityId+'/detail'}}"><label  th:text="${bean.activityName}"></label></a></td>
		            <td th:text="${bean.activityDate}"></td>
		            <td th:text="${bean.endTime}"></td>
		            <td th:text="${bean.activityPlace}"></td>
					<td th:text="${bean.actiivityDescription}"></td>
					<td>
					<div >
					<a th:href="@{${'/activity/'+bean.activityId+'/edit'}}" class="btn btn-info" >編輯</a>
					<a th:href="@{${'/activity/'+bean.activityId+'/detail'}}" class="btn btn-info" >瀏覽</a>
					<a th:href="@{${'/activity/'+bean.activityId+'/cancel'}}" onclick="javascript:return del()" class="btn btn-info" >取消活動</a>
					</div>
					</td>
		        </tr>
		        </tbody>
		    </table>
			</div>
			
			
		  <div class="tab-pane fade" id="pass" role="tabpanel" aria-labelledby="pass-tab">
		  <table class="table table-hover">
		     <thead>
		        <tr>
		            <th></th>
					<th>活動名稱</th>
					<th>活動開始日期</th>
					<th>活動結束日期</th>
					<th>活動地點</th>
					<th>活動說明</th>
					<th></th>
		            <th></th>
		        </tr>
		        </thead>
		        <tbody>
		        <tr  th:each=" bean: ${passList}" th:if="${#authentication.name == bean.createUser}">
		            <th scope="row" th:text="${bean.activityId}"></th>
		            <td ><a th:href="@{${'/activity/'+bean.activityId+'/detail'}}"><label  th:text="${bean.activityName}"></label></a></td>
		            <td th:text="${bean.activityDate}"></td>
		            <td th:text="${bean.endTime}"></td>
		            <td th:text="${bean.activityPlace}"></td>
					<td th:text="${bean.actiivityDescription}"></td>
					<td>
					<div >
					<a th:href="@{${'/activity/'+bean.activityId+'/detail'}}" class="btn btn-info" >瀏覽</a>
					<a th:href="@{${'/activity/'+bean.activityId+'/orderUserList'}}" class="btn btn-info">參加名單</a>
					<a th:href="@{${'/activity/'+bean.activityId+'/cancel'}}" onclick="javascript:return del()" class="btn btn-info" >取消活動</a>
					</div>
					</td>
		        </tr>
		        </tbody>
		    </table>
		 </div>
		 
		  <div class="tab-pane fade" id="cancel" role="tabpanel" aria-labelledby="cancel-tab">
		  <table class="table table-hover">
		     <thead>
		        <tr>
		            <th></th>
					<th>活動名稱</th>
					<th>活動開始日期</th>
					<th>活動結束日期</th>
					<th>活動地點</th>
					<th>活動說明</th>
					<th></th>
		            <th></th>
		        </tr>
		        </thead>
		        <tbody>
		        <tr  th:each=" bean: ${cancelList}" th:if="${#authentication.name == bean.createUser}">
		            <th scope="row" th:text="${bean.activityId}"></th>
		            <td ><a th:href="@{${'/activity/'+bean.activityId+'/detail'}}"><label  th:text="${bean.activityName}"></label></a></td>
		            <td th:text="${bean.activityDate}"></td>
		            <td th:text="${bean.endTime}"></td>
		            <td th:text="${bean.activityPlace}"></td>
					<td th:text="${bean.actiivityDescription}"></td>
					<td>
						<div >
						<a th:href="@{${'/activity/'+bean.activityId+'/detail'}}" class="btn btn-info" >瀏覽</a>
						<a th:href="@{${'/activity/'+bean.activityId+'/orderUserList'}}" class="btn btn-info">參加名單</a>
						</div>
					</td>
		        </tr>
		        </tbody>
		    </table>
		</div>
				    
		  <div class="tab-pane fade" id="fault" role="tabpanel" aria-labelledby="check-tab">
		  <table class="table table-hover">
		     <thead>
		        <tr>
		            <th></th>
					<th>活動名稱</th>
					<th>活動開始日期</th>
					<th>活動結束日期</th>
					<th>活動地點</th>
					<th>活動說明</th>
					<th></th>
		            <th></th>
		        </tr>
		        </thead>
		        <tbody>
		        <tr  th:each=" bean: ${faultList}" th:if="${#authentication.name == bean.createUser}">
		            <th scope="row" th:text="${bean.activityId}"></th>
		            <td ><a th:href="@{${'/activity/'+bean.activityId+'/detail'}}"><label  th:text="${bean.activityName}"></label></a></td>
		            <td th:text="${bean.activityDate}"></td>
		            <td th:text="${bean.endTime}"></td>
		            <td th:text="${bean.activityPlace}"></td>
					<td th:text="${bean.actiivityDescription}"></td>
					<td>
					<div >
					<a th:href="@{${'/activity/'+bean.activityId+'/edit'}}" class="btn btn-info" >編輯</a>
					<a th:href="@{${'/activity/'+bean.activityId+'/cancel'}}" onclick="javascript:return del()" class="btn btn-info" >取消活動</a>
					<a th:href="@{${'/activity/'+bean.activityId+'/sendExamine'}}" onclick="javascript:return send()" class="btn btn-info" >重新提交審核</a>
					</div>
					</td>
		        </tr>
		        </tbody>
		    </table>
		  </div>

		</div>

	      	</div>
	     	<div th:replace="fragments/footer :: footer"></div>
	     </div>
	     
    </body>
</html>

